@import 'zless/z';

.poor-text-area {
    background-color: #F0F0F0;
    border: 1px solid #AAA;
    .border-radius(2px);
    display: inline-block;
    padding: 26px 0 20px;
    position: relative;
    
    textarea {
        border-color: #AAA;
        border-style: solid;
        border-width: 1px 0;
        margin: 0;
        outline: 0;
        vertical-align: top;
    }
    
    .fullscreen() {
        display: block;
        .box-sizing(border-box);
        height: 100%;
        width: 100%;
        
        textarea {
            .box-sizing(border-box);
            height: 100%;
            resize: none;
            width: 100%;
        }
    }

    &:-moz-full-screen {
        .fullscreen;
    }

    &:-webkit-full-screen {
        .fullscreen;
    }
}

.poor-text-area__control-bar {
    display: inline-block;
    height: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    list-style: none;
    left: 0;
    position: absolute;
    top: 0;
    .user-select(none);
    width: 100%;
}

.poor-text-area__control-bar__button {
    background-color: #FFF;
    border: 1px solid #AAA;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    height: 20px;
    line-height: 12px;
    margin: 2px 0 2px -1px;
    padding: 0;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 20px;
    
    &:focus {
        border-color: #333;
        outline: 0;
        z-index: 2;
    }
    
    &:hover {
        background-color: transparent;
    }
    
    &:active {
        background-color: #FFF;
    }
}

.poor-text-area__control-bar__button--first {
    .border-left-radius(3px);
    margin-left: 4px;
}

.poor-text-area__control-bar__button--last {
    .border-right-radius(3px);
}

.poor-text-area__info-bar {
    bottom: 0;
    cursor: default;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 20px;
    left: 0;
    line-height: 20px;
    position: absolute;
    .user-select(none);
    width: 100%;
}

.poor-text-area__info-bar__item {
    display: inline-block;
    height: 20px;
    margin: 0 4px;
}

.poor-text-area__status-bar {
    bottom: 0;
    cursor: default;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: 0;
    .user-select(none);
}

.poor-text-area__status-bar__item {
    background-color: #FFF;
    border: 1px solid #AAA;
    .border-radius(3px);
    display: inline-block;
    height: 14px;
    margin: 2px 4px 2px 0;
    vertical-align: top;
}

.poor-text-area__status-bar__item--tab {
    background-color: #F0F0F0;
    font-size: 11px;
    height: 12px;
    line-height: 12px;
    padding: 1px 3px;
    
    &.on {
        //background-color: #3879d9;
        background-color: #FFF;
        //color: #FFF;
    }
}

.poor-text-area__status-bar__item--tab__label {
    font-family: "Courier New", monospace;
}

.poor-text-area__status-bar__item--fullscreen {
    cursor: pointer;
    outline: 0;
    
    &:focus {
        border-color: #333;
        outline: 0;
    }
    
    &:hover {
        background-color: #F0F0F0;
    }
    
    &:active {
        background-color: #FFF;
    }
}

[data-fullscreen="0"] {
    :-moz-full-screen & {
        display: none;
    }
    :-webkit-full-screen & {
        display: none;
    }
}

[data-fullscreen="1"] {
    display: none;
    
    :-moz-full-screen & {
        display: block;
    }
    :-webkit-full-screen & {
        display: block;
    }
}